:root {  
  /* NBA Logo Colors */
  --blue: #1D428A;
  --white: #FFFFFF;
  --red: #D00D2E; 

  /* Theme Colors */
  --medBlue: #0B153C;
  --darkBlue: #00092D;

  /* Example of how to call CSS variables:
    color: var(--blue);
  */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

a {
  color: black;
  text-decoration: none;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

a:hover {
  border-bottom-color: var(--black);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  box-sizing: border-box;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
}

input[type=text] {
  color: var(--white);
  text-align: center;
  background-color: var(--darkBlue);
  border: none;
  font-weight: normal;
  font-size: 15px;
  outline: none;
}

input[type=text]:hover {
  border: 1px solid var(--white);
}

input[type=text]:focus {
  border: 1px solid var(--white);
}

h1 {
  color: var(--white);
  text-align: center;
  padding: 18px 0 16px 0;
  background-color: var(--medBlue);
  font-weight: normal;
  font-size: 15px;
  height: 54px;
}

h2 {
  color: var(--white);
  text-align: center;
  padding: 18px 0 16px 0;
  background-color: var(--darkBlue);
  font-weight: normal;
  font-size: 15px;
  height: 54px;
}

h3 {
  text-align: center;
  padding: 0 0 16px 0;
  font-weight: normal;
  font-size: 15px;
  /* height: 54px; */
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
  font-size: 14px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background: var(--blue);
  vertical-align: middle;
  height: 54px;
}

.logo-img {
  height: 54px;
  vertical-align: middle;
  color: var(--white);
}

.logo-img:hover {
  border: none;
}

.nav-links-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  margin-right: 1em;
  font-size: 1em;
  color: var(--white);
  text-decoration: none;
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  display: inline-block;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.nav-link:hover {
  border-bottom-color: var(--white);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  box-sizing: border-box;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
}

.active-nav-link {
  margin-right: 1em;
  font-size: 1em;
  color: var(--white);
  text-decoration: none;
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  display: inline-block;
  border-bottom-color: var(--white);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  box-sizing: border-box;
}

.routes {
  margin: 0 auto;
  width: 100%;
}

.row {
  /* padding-top: 16px; */
  align-items: center;
  text-align: center;
}

.single-column {
  float: middle;
  padding: 16px;
}

.double-column {
  float: left;
  width: 50%;
  padding: 16px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .double-column {
    width: 100%;
    margin-bottom: 16px;
  }
}

.game-table-div {
  white-space: pre-wrap;
  height: 53;
}

.game_summary {
  width: 245px;
  border: 1px solid var(--blue);
  display: inline-block;
}

.game_summary table {
  /* border-bottom: 1px solid var(--blue); */
  width: 100%;
  padding: 4px;
  white-space: normal;
}

td.center, th.center {
  text-align: center;
}

td.right, th.right {
  text-align: right;
}

.winner {
  font-weight: bold;
}

.box-links {
  font-size:14px;
  text-align: center;
  padding: 4;
}

.teams {
  border-bottom: 1px solid var(--blue);
}

.game-summary-final {
  font-weight: bold;
}

.react-datepicker {
  left: -46px;
  top: 10px;
  border-color: var(--white);
  border-radius: 0px;
}

.react-datepicker__header {
  color: var(--white);
  background-color: var(--darkBlue);
  border-color: var(--darkBlue);
  border-radius: 0px;
}

.react-datepicker__current-month {
  color: var(--white);
}

.react-datepicker__day-name {
  color: var(--white);
}

.react-datepicker__day--selected {
  background-color: var(--blue);
}

.react-datepicker__day--selected:hover {
  background-color: var(--darkBlue);
}

.simple-game-summary {
  height: 50px;
  width: 245px;
  border: 1px solid var(--blue);
  display: inline-block;
  background-color: var(--white);
}

.simple-game-summary table {
  /* border-bottom: 1px solid var(--blue); */
  width: 100%;
  padding: 4px;
  white-space: normal;
}

.simple-team-name {
  text-align: left;
}

.create-playlist-box {
  padding: 24px;
  height: 68px;
  width: 245px;
  border: 1px solid var(--blue);
  display: inline-block;
  background-color: var(--white);
  text-align: center;
  margin: 0 0 3px 0;
}
