

.nav-bar {
  display: flex;
  justify-content: space-between;
  background: var(--green);
  vertical-align: middle;
}

.nav-links-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  margin-right: 1em;
  font-weight: bold;
}

.logo-div {
  text-align: center;
  height: 40px;
}

.logo-img {
  height: 40px;
  margin-left: .5em;
  vertical-align: middle;
}